.wp-block-custom-slider-slider-block {
        border: 1px solid #ddd;
        text-align: center;
    .edit-item {
        .edit-heading {
            text-decoration: underline;
            color: gray;
        }
    }
    .edit-icon{
        img {
            max-width: 50px;
        }
    }
}
